<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings/>
  <connectionStrings>
    <add name="marketingdbConnectionString" connectionString="Data Source=JLOJR\SQLEXPRESS;Initial Catalog=marketingdb;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <roleManager enabled="true" />
    <authorization>
      <deny users="?"  />
      <allow users="*" />
    </authorization>
    <authentication mode="Forms">
      <forms loginUrl="Home/Login.aspx"></forms>
    </authentication>
    <membership defaultProvider="SqlProvider">
      <providers>
        <clear/>
        <add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="marketingdbConnectionString" applicationName="/" minRequiredPasswordLength="6" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" minRequiredNonalphanumericCharacters="0" requiresUniqueEmail="true" passwordFormat="Hashed"/>
      </providers>
    </membership>
    <pages theme="Default" controlRenderingCompatibilityVersion="4.0"/>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  <location path="Cidades">
    <system.web>
      <!--<authorization>
        <allow roles="Administrador"/>
        <deny users="*" />
      </authorization>-->
    </system.web>
  </location>
</configuration>
